<section>
<h1> Here is list of recipe </h1>
<button type="button" class="Recipe-button"><%= link_to "Add Recipe", new_user_recipe_path(user_id: current_user.id)  %></button>
  <% @recipes.each do |recipe| %>
<%= link_to user_recipe_path(user_id: recipe.user.id, id: recipe.id), class: "show-recipe" do %>
    <h2><%= recipe.name %></h2>
  <% end %>
  <%= form_with url: user_recipe_path(user_id: recipe.user.id, id: recipe.id), method: :delete do |form| %>
    <%= form.submit "REMOVE", class: "delete-recipe" %>
  <% end %>
  <%= link_to user_recipe_path(user_id: recipe.user.id, id: recipe.id), class: "show-recipe" do %>
    <h3><%= truncate(recipe.description, length: 110, omission: " . . .") %></h3>
  <% end %>
  <% end %>
</section>
