<p style="color: green"><%= notice %></p>

<h1> <%= @recipe.name %> </h1>

<div>
  <div>
    <%= "Preparation time: #{@recipe.preparation_time}" %>
    <label class="switch">
      <%= form_for @recipe, url: user_recipe_path(current_user, @recipe), method: :patch do |f| %>
        <%= f.hidden_field :public, value: !@recipe.public %>
        <%= f.submit "Make public", class: "btn btn-primary" %>
      <% end %>
      <input type="checkbox" <%= @recipe.public ? "checked" : "" %> disabled>
      <span class="slider round"></span>
    </label>
    <%= "Public" %>
  </div>

  <p><%= "Cooking time: #{@recipe.cooking_time}" %></p>

  <p><%= @recipe.description %></p>

  <%= button_to "Add ingredient", new_user_recipe_recipefood_path(current_user, @recipe), method: :get %>

  <hr>

  <% if @recipe.recipefoods.empty? %>
    <p>There are no ingredients yet.</p>
  <% else %>
    <table border="1">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe.recipefoods.each do |recipefood| %>
          <tr>
            <td><%= link_to recipefood.food.name, user_food_path(recipefood.food.user, recipefood.food) %></td>
            <td><%= recipefood.quantity %></td>
            <td><%= number_to_currency(recipefood.food.price * recipefood.quantity) %></td>
            <td>
              <%= link_to "Modify", edit_user_recipe_recipefood_path(current_user, @recipe, recipefood) %>
              <%= link_to "Delete", user_recipe_recipefood_path(current_user, @recipe, recipefood), method: :delete, data: { confirm: "Are you sure you want to delete this ingredient?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
