<section class="shoppinglist-show">
  <p style="color: green"><%= notice %></p>

  <h1>Shopping List</h1>

  <div class="shoppinglist-show-headline">
    <p>
      Ammout of food to buy: <%= @recipefoods_count %>
    </p>
    <p>
      Total value of food needed: <%= number_to_currency(@total_price) %>
    </p>
  </div>

  <Table border="1">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @recipefoods.each do |recipefood| %>
        <tr>
          <td><%= link_to recipefood.food.name, user_food_path(recipefood.food.user, recipefood.food) %></td>
          <td><%= "#{recipefood.quantity} #{recipefood.food.measurement_unit}" %></td>
          <td><%= number_to_currency(recipefood.food.price * recipefood.quantity) %></td>
        </tr>
      <% end %>
    </tbody>
  </Table>

  <br>

  <%= link_to "Back to Recipe", user_recipe_path(current_user, @recipe) %>
</section>
